body {
  margin: auto 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
}

/*  For navigation */
.nav {
  display: flex;
  background-color: #FAFAFA;
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #DDDDDD;
  position: fixed;
  width: 100%;
  font-size: 10pt;
}

.nav li {
  display: block;
  padding: 20px;
}

.nav li:first-child {
  margin-right: auto;
}

.nav li a {
  color: #666666;
  text-decoration: none;
}

.nav li a:hover {
  color: #444444;
}

/* For main components */
div.main {
  margin: 0 auto;
  width: 900px;
  padding-top: 80px;
}

div.control {
  padding-bottom: 5px;
}

.cbMaterial {
  width:10px;
  height:10px;
}

a {
  color: #4e79a7;
}

hr {
  border: none;
  border-top: 1px solid #DDDDDD;
  margin-top: 35px;
  margin-bottom: 35px;
}

/* Associated with plot elements --> */
div.tooltip {
  position: absolute;
  text-align: center;
  padding: .4rem;
  background: #FFFFFF;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 4px;
  pointer-events: none;
}

.labels {
  color: #444444;
  font-size: 8px;
}

.Qlabel {
  color: #CCCCCC;
  font-size: 8pt;
}
