
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Pacifico&family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@300&display=swap');

/* text highlighting */
@keyframes yellowfade {
  from { background: yellow; }
  to { background: transparent; }
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 12pt;
  min-height: 100%;
}

p {
  text-align: justify;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
}

b {
  font-weight: 600;
}

h1 {
  text-align: center;
  font-size: 58pt;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 600;
  padding:30px;
}

h2 {
  font-size: 32pt;
  padding-bottom: 5px;
  font-family: 'Montserrat';
  font-weight: 800;
  padding-top: 30px;
}

h3 {
  font-size: 16pt;
  margin-bottom: 9.5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

h4 {
  font-size: 14pt;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
}

a {
  color: #222222;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

a:hover {
  color: #E81F7B;
}

hr {
  border: none;
  border-top: 1px solid #DDDDDD;
  margin-top: 35px;
  margin-bottom: 35px;
}

select {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  border-radius: 22pt;
  font-weight: 300;
  padding-left: 4px;
}

option {
  font-family: 'Open Sans',  Arial, sans-serif;
  font-size: 11pt;
  font-weight: 300;
}

/*  For navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #DDDDDD;
  font-size: 10pt;
  z-index: 20;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  padding: 0.5% 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  top: -500px;
}

.nav-link:hover {
  color: #E81F7B;
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

div.footer {
  background-color: #FAFAFA;
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-top: 1px solid #DDDDDD;
}

/* For main components */
div.main {
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

div.control {
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
}

.cb-material {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.cb-wrapper {
  font-size: 11pt;
  flex: 0 0 auto;
  padding-left: 5px;
  margin-left: 10px;
  flex: 0 0 auto;
}

/*  */
.column {
  float: left;
}

.control-label {
  font-weight: 400;
  flex: 0 0 auto;
}

.control-label2 {
  font-size: 8pt;
  padding-left: 5pt;
  font-weight: 600;
  color: #444;
}

.p-control-column {
  padding-top: 0px;
  padding-bottom: 1px;
  text-align:left;
}

.label-mask-structure {
  position: absolute;
  top: 17px;
  height: 130px;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
}

.mask-img {
  position: absolute;
  top: 17px;
  opacity: 0.95;
  width: 60px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Associated with plot elements --> */

.axis {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 10pt;
  font-weight: 200;
}

.axis2 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 10pt;
  font-weight: 200;
}

div.tooltip {
  position: absolute;
  text-align: left;
  padding: .4rem;
  background: #FDFDFD;
  color: #444;
  border: 0.5px solid #444;
  border-radius: 2px;
  pointer-events: none;
  max-width: 200px;
  font-size: 11pt;
  transition: all 0.1s ease 0s;
}

.labels {
  color: #444444;
  font-size: 7pt;
}

.Qlabel {
  color: #CCCCCC;
  font-size: 8pt;
}




/* Format iframes */
iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.iframe-container1 {
  overflow: hidden;
  padding-top: 770px;
  position: relative;
}

.iframe-container1b {
  overflow: hidden;
  padding-top: 470px;
  position: relative;
}

.iframe-container2 {
  margin-top: 15px;
  overflow: hidden;
  padding-top: 640px;
  position: relative;
}

/* Format indented text regions */
.text-indent {
  padding-top:15px;
  padding-bottom:15px;
  padding-left:18px;
  padding-right:18px;
  display: none;
}

.text-indent p:first-child {
  padding-top: 0px;
}

.text-indent p:last-child {
  padding-bottom: 5px;
}


/* For hidden text notes */
.collapsible {
  background-color: #EEE;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 30px;
  text-align: left;
  outline: none;
  margin: 0px;
  margin-top: 10px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12pt;
  font-weight: 200;
  transition: all 0.3s ease 0s;
}

.collapsible:hover {
  background-color: #AFF2D1;
}

.collapsible-ol {
  padding: 0px;
  margin: 0px;
  text-align: justify;
}

.collapsible-ol li {
  margin: 5px 0px 0px 20px;
}
