@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Pacifico&family=Open+Sans:wght@300;400;500;600;700&family=Nunito:wght@200;300;400;600;700&family=Roboto:wght@300&display=swap');

/* text highlighting */
@keyframes yellowfade {
  from {
    background: yellow;
  }

  to {
    background: transparent;
  }
}

/* Define color scheme */
/* matter */
:root {
  --a0: #E26253;  /* main accent */
  --a1: #F5A773;  /* secondary accent */
  --c1: #2F0F3E;  /* dark */
  --c2: #B32E5F;  /* non-woven */
  --c3: #FBFBFB;  /* while offset */
  --c4: #CCCCCC;  /* light grey, stripe for multilayer */
  --c5: #E26253;  /* cut-pile */
  --c6: #F5A773;  /* knit */
  --c7: #FEEDB0;  /* woven */
}

/* viridis */
:root {
  --a0: #FD80A8;  /* main accent */
  --a1: #FFC300;  /* yellow, secondary accent */
  --c1: #440154;  /* dark */
  --c2: #414487;  /* non-woven */
  --c3: #FBFBFB;  /* while offset */
  --c4: #CCCCCC;  /* light grey, stripe for multilayer */
  --c5: #22A884;  /* cut-pile */
  --c6: #7AD151;  /* knit */
  --c7: #FDE725;  /* woven */
}

/* original */
:root {
  --a0: #FD80A8;  /* main accent */
  --a1: #FFC300;  /* yellow, secondary accent */
  --c1: #900C3F;  /* dark purple */
  --c2: #581845;  /* light purple, non-woven */
  --c3: #FBFBFB;  /* while offset */
  --c4: #CCCCCC;  /* light grey, stripe for multilayer */
  --c5: #FF5733;  /* orange, cut-pile */
  --c6: #FFC300;  /* yellow, knit */
  --c7: #DAF7A6;  /* light green, woven */
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background-color: rgba(252, 252, 252, 1);
}

body {
  font-family: 'Nunito', 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 12pt;
  min-height: 100%;
}

p {
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
  color: #444;
  font-size: 13pt;
}

@media screen and (min-width: 600px) {
  p {
    text-align: justify;
  }
}

b {
  font-weight: 600;
  color: #000;
}

h1 {
  text-align: center;
  font-size: 65pt;
  font-family: 'Pacifico', Arial, sans-serif;
  font-weight: 100;
  padding: 20px;
  padding-top: 0px;
  background: linear-gradient(to bottom right, var(--a0), var(--a0) 30%, var(--a1));
  background-size: 100% 100%;
  background-position: 0 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 37pt;
  padding-bottom: 5px;
  font-family: 'Nunito', 'Open Sans', Arial, sans-serif;
  font-weight: 200;
  padding-top: 5px;
  color: black;
}

h3 {
  font-size: 14pt;
  margin-bottom: 9.5px;
  font-family: 'Nunito', 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  padding-top: 10px;
}

h4 {
  font-size: 14pt;
  font-family: 'Nunito', 'Open Sans', Arial, sans-serif;
  font-weight: 400;
}

/* Used for CITATIONS title */
h5 {
  font-size: 11pt;
  font-family: 'Nunito', 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  padding-bottom: 3px;
}

a {
  color: #222222;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration-color: #777;
}

a:hover {
  color: var(--a0);
  text-decoration-style: solid;
  text-decoration-color: var(--a0);
}

hr {
  border: none;
  border-top: 1px solid #DDDDDD;
  margin-top: 35px;
  margin-bottom: 35px;
}

/*  For navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(252, 252, 252, 1);
  margin: 0px;
  padding: 0px;
  font-size: 10pt;
  z-index: 20;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  box-shadow: white;
  transition: 0.3s;
}

nav {
  padding: 5px 5% 5px 0px;
  text-align: right;
  width: 80%;
}
@media screen and (max-width: 850px) {
  nav {
    width: 65%;
  }
}

.nav-list {
  list-style: none;
  transition: visibility 0.5s, opacity 0.5s linear;
  visibility: hidden;  /* overwritten for narrow displays below */
  opacity: 0;
}
.nav-list li {
  display: inline-block;
  padding: 5px 10px;
  vertical-align: middle;
}
.nav-link {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  top: -500px;
}
.nav-link:hover {
  color: var(--a0);
}

.sidebar {
  font-size: 10pt;
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
  padding-top: 104px;
  padding-left: 5%;
  transition: visibility 0.5s, opacity 0.5s linear;
  visibility: visible;
  opacity: 1;
  float: left;
  width: 140px;
  height: 100vh;
}
/* Swap sidebar / nav-list. */
@media screen and (max-width: 1250px) {
  .sidebar { visibility: hidden; opacity: 0; }
  .nav-list { visibility: visible; opacity: 1; }
}
.side-list {
  list-style: none;
}
.side-list li {
  padding: 10px 0px;
  vertical-align: middle;
}

a.anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

.footer {
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 60px;
}

.footer p {
  font-size: 9.5pt;
  padding-top: 4px;
  padding-bottom: 4px;
}

.footer-sup {
  font-size: 7pt;
}

.ref {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  padding-left: 10px;
  color: #EEE;
  border-left: solid #CCC 2px;
  color: #777;
}

.ref:hover {
  color: var(--a0);
  transition: ease 0.3s;
  border-left: solid var(--a0) 2px;
}

.ref a {
  text-decoration-color: #777;
}

.ref a:hover {
  text-decoration-color: var(--a0);
}

.footer .ref {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#logo {
  font-family: 'Pacifico', sans-serif;
  font-size: 20pt;
  text-decoration: none;
  padding: 8px 10px 12px 5%;
  transition: all 4s;
  background: linear-gradient(to bottom right, var(--a1), var(--a0) 40%, var(--a1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.4s ease;
  background-size: 200% 200%;
  background-position: 0 100%;
}

#logo:hover {
  background-position: 100% 100%;
}

/* For main components */
div.main {
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
  padding-bottom: 50px;
  margin-top: 70px;
  padding-left: 140px;
}
/* Only show add padding-left for large screens when sidenav visible. */
@media screen and (max-width: 1250px) {
  div.main { padding-left: 0px; }
}

div.control {
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
}

/* A general style that looks like the select control below */
.control-like {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 2px solid #E9EEF0;
  border-radius: 5pt;
  transition: all 0.3s ease 0s;
  min-width: 10px;
}

select {
  font-family: 'Nunito', 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  font-weight: 300;
  border: 2px solid #E9EEF0;
  border-radius: 5pt;
  background-color: white;
  transition: all 0.3s ease 0s;
}

select:hover {
  border: 2px solid var(--a0);
  box-shadow: 0px 0px 3px #BBB;
}

option {
  font-family: 'Nunito', 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  font-weight: 300;
}

/* for colored slider */
.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 5pt;
  border-radius: 5px;
  background: #E3E3E3;
  outline: none;
  -webkit-transition: .2s;
  transition: all .2s;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11pt;
  height: 11pt;
  border-radius: 50%;
  border: 1pt solid white;
  background: var(--a0);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 11pt;
  height: 11pt;
  border-radius: 50%;
  border: 1pt solid white;
  background: var(--a0);
  cursor: pointer
}

.cb-material {
  width: 12px;
  height: 12px;
  margin-right: 3px;
}

.cb-wrapper label {
  margin-right: 12px;
  display: inline-flex;
  align-items: baseline;
  cursor: pointer;
}

input[type="checkbox"]{
  -webkit-appearance: initial;
  appearance: initial;
  width: 9pt;
  height: 9pt;
  font-size: 10pt;
  border: 2px var(--a0) solid;
  border-radius: 50%;
  background: white;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}
input[type="checkbox"]:hover {
  box-shadow: 0px 0px 3px #BBB;
}
input[type="checkbox"]:checked:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058"; /* Heres your symbol replacement - this is a tick in Unicode. */
  color: var(--a0);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/*  */
.column {
  float: left;
  padding-right: 10px;
}

.control-label {
  font-weight: 400;
  flex: 0 0 auto;
  font-size: 9pt;
  font-weight: 700;
  display: inline-block;
}

.control-label2 {
  font-size: 9pt;
  padding-left: 3pt;
  font-weight: 700;
  color: var(--a0);
}

.p-control-column {
  padding-top: 0px;
  padding-bottom: 1px;
  text-align: left;
}

.label-mask-structure {
  position: absolute;
  top: 17px;
  height: 130px;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  -ms-writing-mode: tb-rl;
}

.mask-img {
  position: absolute;
  top: 17px;
  width: 60px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Associated with plot elements --> */
.axis {
  font-family: 'Nunito', 'Open Sans', Arial, sans-serif;
  font-size: 10pt;
  font-weight: 200;
}

.axis2 {
  font-family: 'Nunito', 'Open Sans', Arial, sans-serif;
  font-size: 10pt;
  font-weight: 700;
}

/* Plot background color */
.plot-fill {
  fill: white;
}

.tooltip {
  fill: white;
  position: absolute;
  text-align: left;
  padding: .4rem;
  background: #FDFDFD;
  color: #444;
  border: 0.5px solid #BBB;
  border-radius: 3px;
  pointer-events: none;
  max-width: 200px;
  font-size: 9pt;
  font-weight: 300;
  box-shadow: 0px 0px 4px rgba(170,170,170,0.5);
  transition: all 0.1s ease 0s;
}

.tooltip-s1 {
  font-size: 12pt;
  font-weight: 600;
  padding-bottom: 6px;
}

.tooltip-s2, .tooltip-s3 {
  display: block;
  line-height: 10.5pt;
}

.labels {
  color: #444444;
  font-size: 7pt;
}

.Qlabel {
  color: #CCCCCC;
  font-size: 8pt;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Format iframes */
iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.iframe-container1 {
  overflow: hidden;
  padding-top: 775px;
  position: relative;
}

.iframe-container1b {
  overflow: hidden;
  padding-top: 470px;
  position: relative;
}

.iframe-container2 {
  margin-top: 15px;
  overflow: hidden;
  padding-top: 640px;
  position: relative;
}

/* For hidden text notes */
.text-outside {
  background-color: white;
  max-height: 100000px;
  margin-top: 7px;
  border: 1.5px solid #ECECEC;
  border-radius: 4pt;
  width: 100%;
  max-height: auto;
  /* required for smooth transition */
  overflow: hidden;
  transition: color 0.4s, border 0.4s, max-height 0.5s;
  box-shadow: 0px 0px 4px #ECECEC;
}

.text-outside:hover {
  border: 1.5px solid var(--a0);
  box-shadow: 0px 0px 9px #ECECEC;
}

.text-outside p {
  font-size: 12pt;
}

.collapsible {
  color: #666;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 3px 3px 0px 0px;
  outline: none;
  margin: 0px;
  font-family: 'Nunito', 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  text-align: left;
  transition: all 0.4s;
  font-size: 12pt;
}

.collapsible:hover {
  color: #000000;
}

.plus {
  display: inline-block;
  transform: rotate(0deg);
  font-weight: 700;
  color: #000;
  transition: all 0.5s;
  font-size: 14pt;
}

.text-indent {
  background-color: white;
  padding: 16px 3% 16px 3%;
  display: none;
  color: #555;
  border-top: 1px solid #E9EEF0;
}

.text-indent p:first-child {
  padding-top: 0px;
}

.text-indent p:last-child {
  padding-bottom: 5px;
}
